*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;

}
ul, li {
    margin: 0;
    list-style-type: none;
}

input, button {
    outline: none !important;
    border: none;
}

button:hover {
    cursor: pointer;
}